/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .navbar{
        /* width: auto; */
    }
  
.heroText{
      font-size: 4rem;
  }
  .content1-img{
    width: auto;
  } 
  .fm-form input{
      width: auto;
  }
  .gallery{
    width: 100%;
}


}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .navbar{
        /* width: auto; */
    }
    .menu-item {
        font-size: 0.8rem;
    }

    .heroText {
        font-size: 3rem;
    }
    .content1-img{
        width: auto;
     }

     .fm-form input{
         width: auto;
     }
     .fm-form textarea{
         width: auto;
        
    }
    .fm-btn{
        width: 50%;
    }
    .gallery{
        width: 100%;
    }

    .formRegister{
        padding-left: 10%;
        padding-right: 10%;
    }
}
